* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --font-family: 'Poppins', sans-serif;
}

/* Typography */

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 3.2em;
    display: flex;
    gap: .5rem;
}

h1 > span {
    font-weight: bold;
    font-style: italic;
    color: var(--purple);
}

body {
    height: 100vh;
    display: grid;
    background: var(--light-grey);
    font-family: var(--font-family);
}

.container {
    margin: auto 1em;
    display: grid;
    padding: 3em 2em;
    background: var(--white);
    gap: 5em;
    border-radius: 2em 2em 8em 2em;
    width: 399px;
}

.entries {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.entries > div {
    display: grid;
    gap: .2em;
}


label {
    font-weight: normal;
    letter-spacing: .2em;
    color: var(--smokey-grey);
}

input {
    cursor: pointer;
    color: var(--off-black);
    font-size: 1.3rem;
    font-weight: bold;
    padding: .5rem;
    border: 1px solid var(--smokey-grey);
    border-radius: .5rem;
    width: 80px;
}

input:hover {
    box-shadow: 1px 1px 50px hsl(259, 100%, 90%);
    border: 1px solid var(--purple);
}

input:focus {
    outline: none;
}

.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-grey);
}

.icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    margin-bottom: -2em;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.icon-arrow {
    border-radius: 5em;
}

.results {
    display: flex;
    flex-direction: column;
}

@media (min-width: 450px){

    .container {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0em;
        margin: auto;
    }

    .entries {
        justify-content: start;
    }

    .icon-container:hover,
    .icon-arrow:hover {
        background: black;
    }


    .illustration {
        justify-content: end;
    }
}